apipkg==1.4
attrs==17.4.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
coverage==4.4.2
execnet==1.5.0
Flask==0.12.2
Flask-Testing==0.7.1
gprof2dot==2017.9.19
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
nose2==0.7.3
pluggy==0.6.0
py==1.5.2
pytest==3.3.2
pytest-cov==2.5.1
pytest-flask==0.10.0
pytest-forked==0.2
pytest-profiling==1.2.11
requests==2.18.4
six==1.11.0
slackclient==1.1.0
urllib3==1.22
websocket-client==0.46.0
Werkzeug==0.13
